.stButton>button {{
    background-color: {secondary};
    border: 1px solid {secondary};
    color: {text};
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 10px;
}}
.stButton>button:hover {{
    background-color: {accent};
    border: 1px solid {accent};
    color: {text};
}}
.stButton>button:active {{
    background-color: {accent};
    border: 1px solid {accent};
    color: {text};
}}
.tooth-buttons {{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}}
.element-container:has(#button-after) + div button {{
    background-color: transparent;
    font-size: 0.5em !important;
    color: {text};
    border: 1px solid {secondary};
    height: 5px;
    width: 25px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}}
.element-container:has(#button-after) + div button:hover {{
    border: 2px solid {accent};
}}
.element-container:has(#button-after) + div button:active {{
    background-color: {accent};
}}
.element-container:has(#button-after) + div button:focus {{
    background-color: {accent}; 
}}
.stSlider > div[data-baseweb="slider"] {{
}}